*{
    padding: 0;
    margin: 0;
}
body{
    /* background-image: url(../images/jishufuwu-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    /* opacity: 0.7; */
    backdrop-filter: blur(1px);
}
.parent{
    background-image: url(../images/jishufuwu-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    /* filter: blur(4px); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parent .img img{
    z-index: 1;
    position: relative;
    width: 70px;
    padding-bottom: 20px;
}
.parent span{
    color: #fff;
    z-index: 1;
}
.parent .links{
    z-index: 1;
    position: relative;
    margin: 10px 0 0 ;
}
.parent .links .icon{
    position: relative;
}
.parent .links .icon::before{
    content: '';
    position: absolute;
}
i{
    font-size: 20px;
}
.parent .links .face{
    background-image: linear-gradient(0deg, rgba(35,72,172,1) 0%, rgba(81,122,222,1) 100%);
}
.parent .links .email{
    background: #0075ff;
}
.parent .links .inst{
    background: linear-gradient(270deg, rgba(245,132,60,1) 0%, rgba(215,57,122,1) 55%, rgba(89,89,206,1) 100%);
}
.parent .links .face,
.inst,
.yout,
.email:not(:last-child){
    margin-bottom: 15px;
}
.parent .links .face,
.inst,
.yout,
.email{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    justify-content: center;
}
@media (max-width:767px)
{
    .parent .links .face,
.inst,
.yout,
.email{
    padding: 10px 70px !important;
}
}.text{
    padding: 0 0 0 5px;
}
footer span:nth-child(2){
    position: relative;
    color: gray;
    z-index: 1;
    /* width: fit-content; */
    /* margin: 0 auto; */
    display: block;
    font-family: sans-serif;
    font-size: 12px;
}
footer span:nth-child(2)::before{
    position: absolute;
    content: "!";
    border: 1px solid gray;
    padding: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    left: -25px;
    align-items: center;
    justify-content: center;
    bottom: -4px;
}
footer span:nth-child(2)::before:hover{
    border: 1px solid #fff;
}